main {
  padding-bottom: 383px;
}

.title {
  margin-top: 52px;
}

.video {
  margin-left: 88px;
  margin-top: 48px;
}

.slider {
  width: 312px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // align-items: center;
}

.slide {
  min-width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.9px;
}

.left-quotes {
  stroke: $span;
  fill: $span;
}

.product-name {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: inherit;
  color: white;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $price;
  font-size: 16px;
}

.product-price::before {
  content: '';
  display: block;
  width: 12px;
  height: 1px;
  margin-right: 4px;
  border-bottom: 1px solid $price;
}

.slider-button {
  color: $nav-color;
}

.left-arrow,
.right-arrow {
  fill: currentColor;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: $dots;
  border-radius: 50%;
}

.dots-list {
  display: flex;
  align-items: center;
  margin-right: 20%;
}

.dots-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and(min-width: 1366px) {
  .title {
    margin-top: 55px;
    margin-left: 94px;
  }
  .content-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slider-wrapper {
    justify-content: center;
    align-items: center;
  }

  .dots-list {
    margin: 0;
  }
}
