$background: #292929;
$nav-color: #c445f4;
$home: #eecafc;
$white: #ffffff;
$arrow: #c445f4de;
$hover-bgc: rgba(235, 0, 255, 0.24);
$hover-text-color: #ff00ff;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 300ms;
$sub-menu-color: rgba(44, 79, 157, 1);
$span: #eb00ff;
$price: #4e81d3;
